@import '~bootstrap/scss/bootstrap';
// Default
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Microsoft YaHei", "微软雅黑", "宋体", "Arial", serif;
    width: 100%;
    height: 100%;
}

// Header
.nav-linker {
    margin-right: 20px;
}

#nav-linker {
    font-weight: 700;

}
// Footer
.footer-nav-linker {
    font-size: 14px;
    font-weight: 600;
}

// Home
.jumbotron-image {
    margin-bottom: 15px;
    padding: 40px 0 10px 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.news-a {
    color: black;

}
.news-p {
    margin-bottom: 5px;
}

// Company
.h5-span {
    border-bottom: 3px #b81c22 solid;
    font-weight: bold;
    padding-bottom: 15px;
}



